In [58]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [59]:
url = "https://www.theguardian.com/uk"

In [60]:
r1 = requests.get(url)
r1.status_code

coverpage = r1.content


soup1 = BeautifulSoup(coverpage, 'html5lib')


coverpage_news = soup1.find_all('h3', class_='fc-item__title')
len(coverpage_news)

117

In [61]:
coverpage_news[4]

<h3 class="fc-item__title"><a class="fc-item__link" data-link-name="article" href="https://www.theguardian.com/education/2020/mar/31/councillors-oven-ready-scheme-to-force-private-schools-to-pay-their-bit"><span class="fc-item__kicker">Education</span> <span class="u-faux-block-link__cta fc-item__headline"> <span class="js-headline-text">Councillor's 'oven-ready' scheme to force private schools to pay their bit</span></span> </a></h3>

In [97]:
number_of_articles = 100

In [98]:

news_contents = []
list_links = []
list_titles = []

for n in np.arange(0, number_of_articles):
        
    
   
    
   
    title = coverpage_news[n].find('a').get_text()
    list_titles.append(title)

In [99]:


df_show_info = pd.DataFrame(
    {'Article Title': list_titles})

In [100]:
df_show_info

                                        Article Title
0   Live  UK coronavirus: death toll sees sharp ri...
1   Live  UK coronavirus: death toll sees sharp ri...
2   Live  Coronavirus: World Bank warns of 'unprec...
3   Live  Coronavirus: World Bank warns of 'unprec...
4   Education  Councillor's 'oven-ready' scheme to...
..                                                ...
95  Share your stories  Are you cohabiting because...
96  Planting hope  The Syrian refugee who develope...
97  The Society interview  Christine Beasley: 'Nur...
98  Antarctica  What it means when the coldest pla...
99  Economics  \n\n\n  Coronavirus is a tragedy – ...

[100 rows x 1 columns]

In [101]:
df_show_info.to_csv('d1.csv')